/* #mainimage {
    float: left;
    padding-left: 10px;
} */

.container {
    display: grid;
    /* align-items: center; */
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 10%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.image {
    grid-column: 1;
    grid-row: 1;
    /* width: 60%; */
    margin-left: auto;
    margin-right: auto;
}

.image img{
    width: 100%;
    box-shadow: 8px 8px 12px #888888;
}

.video {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.text {
    font-size: 25px;
    grid-column: 2;
    grid-row: 1 / span 2;
}

.aboutMeParagraph {
    color: black;
}

@media print {
    .container{
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        
    }

    .image{
        grid-column: 1;
        grid-row: 1;
    }

    .video {
        grid-column: 1;
        grid-row: 4;
    }

    
    .text {
        grid-column: 1;
        grid-row: 2 / span 2;
    }
}

@media (max-aspect-ratio: 1/1){
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap
    }
}